build/

.clang-format
.vscode/
.cache/

SDL_snaek_android/app/build/
SDL_snaek_android/app/jni/SDL2*
SDL_snaek_android/app/src/main/res/mipmap-hdpi/ic_launcher.png
SDL_snaek_android/app/src/main/res/mipmap-mdpi/ic_launcher.png
SDL_snaek_android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
SDL_snaek_android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
SDL_snaek_android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
SDL_snaek_android/app/.cxx
SDL_snaek_android/.gradle
